*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar li{
list-style: none;
display: inline-block;
margin: 10px 30px 10px 30px;
padding: 10px;
}
.navbar li a{
text-decoration: none;
color: white;
font-size: 20px;
}
.navbar{
background-color: black;
}

/* Add Product Data  Format */

#formatData{
  display: flex;
  justify-content: center;
}
#formatData form{
 margin-top: 30px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.713);
}
#formatData input, button{
  padding: 10px;
  margin-top: 8px;
}

/* Product Data Code Format */

table{
    margin: 2rem auto;
    border-radius: 2rem;
    border: 1rem hideen #443c68;
    border-collapse: collapse;
    box-shadow: 0 0 0 1px black;
    max-width: 88rem;
    overflow: hidden;
  }
  
  li, p, a, td{
    font-size: 1.6rem;
    line-height: 1.6;
  }
  
  th, td{
    border: 1px solid #443c68;
    min-width: 10rem;
    padding: 1rem;
    line-height: 1;
  }
  
  td{
    font-size: 1.4rem;
    text-align: center;
  }

  /* SearchBox Style */
  #search{
    padding: 12px;
    float: right;
    margin: 17px 35px 0 0;
  }